:root {
    --font-primary: "Inter", sans-serif;
    --font-secondary: "Sour Gummy", sans-serif;
    --font-tertiary: "Comic Neue", cursive;
    --font-number: "Mynerve", cursive;
    --color-bg-primary:#191a19;
    --color-bg-secondary:#e5f0e6;; 
    --color-font-primary:#e5f0e6;
    --color-font-secondary: #191a19;
    --color-title: linear-gradient(to bottom, #FFF 0%, #FFD700 30%, #FF8C00 100%);
    --color-bg-btn: hsl(0, 0%, 77%);
    --color-orange: #f5750c;
    --color-red: #ff0000;
    --color-primary-btn: rgba(255, 251, 0, 0.9);
    --color-secondary-btn: rgb(255, 0, 106);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--color-bg-primary);
    font-family: var(--font-primary);
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--color-font-primary);
    text-align: center;

}

header {
    position: relative;
    padding: 20px 16px;
    text-align: center;
    overflow: hidden;
}

h1 {
    font-family: var(--font-secondary);
    font-weight: 800;
    font-size: clamp(2rem, 2.25rem, 2.75rem);
    font-optical-sizing: auto;
    background: var(--color-title);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin: 0;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3),
    0 2px 3px rgba(255, 165, 0, 0.4), 
    0 0 8px rgba(255, 215, 0, 0.6), 
    0 0 15px rgba(255, 140, 0, 0.4);
    position: relative;
    z-index: 2;
    filter: drop-shadow(0 0 5px rgba(104, 65, 15, 0.9));
    -webkit-text-fill-color: transparent;
    paint-order: stroke fill;
}

.background {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40vh; 
    max-height: 150px; 
    z-index: 1;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.wave-blue {
    z-index: 1;
    fill: #6C60FF;
}

.wave-red {
    z-index: 2;
    fill: #FF5B5B;
    transform: translateY(-5%); 
}

.wave-orange {
    z-index: 3;
    fill: #FFB661;
    transform: translateY(-10%); 
}

.background {
    margin-top: 0;
    padding-top: 0;
    overflow: hidden;
}

.scoreboard {
    text-shadow: 0 2px 5px rgba(48, 12, 4, 0.3), 0 0 5px rgba(255, 238, 0, 0.774);
}

.scoreboard article {
    padding: 2rem;
}

.scoreboard  p {
    padding-left: 0;
    display: inline;
    color: var(--color-orange);
}

.scoreboard  h3 {
    background:  linear-gradient(to right, var(--color-red), var(--color-orange));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: var(--font-tertiary);
    padding-right: 0;
    display: inline;
}

.players{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.input-container {
    position: relative;
    margin: 2rem 1rem;
    width: 15rem;
}

.input-label {
    position: absolute;
    left: 0;
    top: 0;
    color: var(--color-primary-btn);
    pointer-events: none;
    transition: all 0.3s ease;
}

.dynamic-input {
    display: block;
    width: 100%;
    padding: 0.5rem 0;
    border: none;
    border-bottom: 2px solid var(--color-primary-btn);
    background: transparent;
    font-size: 1rem;
    color: var(--color-font-primary);
    outline: none;
    transition: all 0.3s ease;
    height: 30px;
    overflow: hidden;
}

.dynamic-input::placeholder {
    color: transparent;
}

/* Efeito quando o input está vazio (sem foco) */
.dynamic-input:placeholder-shown:not(:focus) {
    height: 30px;
}

/* Efeito quando o input está com foco ou tem valor */
.dynamic-input:focus,
.dynamic-input:not(:placeholder-shown) {
    height: 60px;
    padding: 1rem;
    border: 2px solid var(--color-primary-btn);
    border-radius: 0.75rem;
    background-color: rgba(128, 128, 128, 0.3);
}

/* Efeito hover */
.dynamic-input:hover {
    height: 60px;
    padding: 1rem;
    border: 2px solid var(--color-primary-btn);
    border-radius: 0.75rem;
    background-color: rgba(128, 128, 128, 0.3);
}

/* Animação do label */
.dynamic-input:placeholder-shown:not(:focus)+.input-label {
    top: 8px;
    font-size: 1rem;
}

.dynamic-input:focus + .input-label,
.dynamic-input:not(:placeholder-shown) + .input-label {
    top: -20px;
    font-size: 0.8rem;
    color: rgba(255, 251, 0, 0.7);
}

.add-players {
    position: relative;
    font-family: var(--font-tertiary);
    font-size: 1rem;
    font-weight: 800;
    background: hsl(0, 0%, 9%);
    color: var(--color-bg-btn);
    letter-spacing: .75px;
    padding: .75rem 1.25rem;
    border-radius: 1rem;
    border: 4px solid var(--color-bg-btn);
    margin: 2rem;
    cursor: pointer;
    transition: all 0.3s;
    overflow: hidden;
    z-index: 1;
    --glow-x: 50%;
    --glow-y: 50%;
}

.add-players::after {
    content: '';
    position: absolute;
    top: -15px;  /* Extrapola o tamanho do botão */
    left: -15px;
    right: -15px;
    bottom: -15px;
    border-radius: 1.25rem; /* Borda maior que a do botão */
    background: radial-gradient(
        circle at var(--glow-x) var(--glow-y),
        rgba(255, 251, 0, 0.7) 0%,
        transparent 70%
    );
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    transition: opacity 0.4s, transform 0.4s;
}

.add-players:hover::after {
    opacity: 1;
    transform: scale(1.05);
}

.add-players:hover {
    box-shadow: 0 0 15px 5px rgba(212, 209, 0, 0.863);
    color: var(--color-primary-btn);
    border-color: var(--color-primary-btn);
    text-shadow: 0px 0px 10px var(--color-primary-btn);
}

.add-players:active {
    transform: scale(0.8);
}

.section-one, .section-two {
    padding: 2rem;
    justify-items: center;
}

.player-one, .player-two {
    font-family: var(--font-secondary);
    color: var(--color-title);
    text-shadow: 0 4px 5px  #333203;
    text-align: center;
    font-size: 1.5rem;
    width: 12.5rem;
    height: 3.3rem;
    background: linear-gradient(to bottom, #33300165 20%, #e0cb11 100%);
    box-shadow: 0 0 12px  #d4d104;
    border: 2px solid #fff;
    border-bottom: 0;
    border-radius: 2rem 2rem 0 0;
}

.score-player-one, .score-player-two {
    font-family: var(--font-number);
    color: var(--color-primary-btn);
    text-align: center;
    background: radial-gradient(circle at center, #0b630eb6 0%, #010c01b6 100%);
    box-shadow: 0 0 12px  #d4d104;
    width: 12.5rem;
    height: 6.5rem;
    font-size: 2rem;
    border: 2px solid #fff;
    border-top: 0;
    border-radius: 0 0 2rem 2rem;
    display: block;
}

.versus {
    max-width: 20vw;
    height: auto;
    animation: float 3s ease-in-out infinite;
    filter: drop-shadow(0 10px 15px rgba(255, 251, 0, 0.911)); 
}

/* Estilo base dos ícones */
.player-icon {
    position: absolute; /* Fixa no canto */
    font-family: var(--font-secondary);
    font-weight: bold;
    font-size: 1.8rem;
    font-size: 2.25rem;
    width: 3rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: rotate(-15deg); /* Inclinação */
    z-index: 1; /* Fica acima do input */
    pointer-events: none; /* Não interfere com cliques */
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.808);
}

/* Posicionamento do X (Jogador 1) */
.player-x {
    background: linear-gradient(to bottom, rgb(34, 32, 2), #e0cb11 100%);
    color: white;
    text-shadow: 0 2px 5px rgba(48, 12, 4, 0.3), 0 2px 10px rgb(251, 255, 0);
    left: 1rem; /* Ajuste conforme necessário */
    top: 0.5rem;
}

/* Posicionamento do O (Jogador 2) */
.player-o {
    background: linear-gradient(to bottom, rgb(34, 32, 2), #e0cb11 100%);
    color: white;
    text-shadow: 0 2px 5px rgba(48, 12, 4, 0.3), 0 2px 10px rgb(251, 255, 0);
    right: 1rem; /* Como está em .section-two, usamos right */
    top: 0.5rem;
    transform: rotate(15deg); /* Inclinação */
}

/* Ajuste nas sections para permitir posicionamento absoluto */
.section-one, .section-two {
    position: relative; /* Permite que os ícones fiquem absolutos dentro delas */
    padding: 2rem;
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}


.game-container {
    justify-items: center;
}

.display {
    margin: 4rem;
    text-justify: center;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 22rem;
    height: 22rem;
    margin-bottom: 5rem;
}

.cell {
    background: transparent;
    position: relative;
    border: 4px solid transparent;
}

.cell::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 3.8px solid;
    border-image: linear-gradient(45deg, 
        #ff0000, #ff7700, #ffdd00, 
        #00ff00, #0000ff, #ff00ff) 1;
    animation: rgbBorder 7s linear infinite;
    z-index: -1;
}

@keyframes rgbBorder {
    0% {
        border-image-source: linear-gradient(45deg,rgb(255, 0, 0),
        rgb(0, 255, 0));
    }

    25% {
        border-image-source: linear-gradient(45deg, rgb(0, 255, 0),
        rgb(0, 0, 255));
    }

    50% {
        border-image-source: linear-gradient(45deg, rgb(0, 0, 255),
        rgb(255, 0, 0));
    }

    75% {
        border-image-source: linear-gradient(45deg, rgb(255, 0, 234),
        rgb(255, 174, 0));
    }

    100% {
        border-image-source: linear-gradient(45deg,rgb(255, 0, 0),
        rgb(0, 255, 0));
    }
}

.cell::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: rgbShadow 7s linear infinite;
    overflow: hidden;
    z-index: -2;
}

@keyframes rgbShadow {
    0% {
        box-shadow: 
            0 0 10px rgba(255, 0, 0, 0.7),
            0 0 20px rgba(0, 255, 0, 0.5);
    }
    33% {
        box-shadow: 
            0 0 10px rgba(0, 255, 0, 0.7),
            0 0 20px rgba(0, 0, 255, 0.5);
    }
    66% {
        box-shadow: 
            0 0 10px rgba(0, 0, 255, 0.7),
            0 0 20px rgba(255, 0, 0, 0.5);
    }
    100% {
        box-shadow: 
            0 0 10px rgba(255, 0, 0, 0.7),
            0 0 20px rgba(0, 255, 0, 0.5);
    }
}

.reset-btn {
    position: relative;
    font-family: var(--font-tertiary);
    font-size: 1rem;
    font-weight: 800;
    background: hsl(0, 0%, 9%);
    color: var(--color-bg-btn);
    letter-spacing: .75px;
    padding: .75rem 1.25rem;
    border-radius: 1rem;
    border: 4px solid var(--color-bg-btn);
    margin: 2rem;
    cursor: pointer;
    transition: all 0.3s;
    overflow: hidden;
    z-index: 1;
    --glow-x: 50%;
    --glow-y: 50%;
}

.reset-btn::after {
    content: '';
    position: absolute;
    top: -15px;  /* Extrapola o tamanho do botão */
    left: -15px;
    right: -15px;
    bottom: -15px;
    border-radius: 1.25rem; /* Borda maior que a do botão */
    background: radial-gradient(
        circle at var(--glow-x) var(--glow-y),
        rgba(255, 251, 0, 0.7) 0%,
        transparent 70%
    );
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    transition: opacity 0.4s, transform 0.4s;
}

.reset-btn:hover::after {
    opacity: 1;
    transform: scale(1.05);
}

.reset-btn:hover {
    box-shadow: 0 0 15px 5px rgba(212, 209, 0, 0.863);
    color: var(--color-primary-btn);
    border-color: var(--color-primary-btn);
    text-shadow: 0px 0px 10px var(--color-primary-btn);
}

.reset-btn:active {
    transform: scale(0.8);
}

.config-players {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-player, .reset-score {
    position: relative;
    font-family: var(--font-tertiary);
    font-size: 1rem;
    font-weight: 800;
    background: hsl(0, 0%, 9%);
    color: var(--color-bg-btn);
    letter-spacing: .75px;
    padding: .75rem 1.25rem;
    width: fit-content; /* Largura se ajusta ao conteúdo */
    border-radius: 1rem;
    border: 4px solid var(--color-bg-btn);
    margin: 2rem;
    cursor: pointer;
    transition: all 0.3s;
    overflow: hidden;
    z-index: 1;
    --glow-x: 50%;
    --glow-y: 50%;
}

.new-player::after, .reset-score::after {
    content: '';
    position: absolute;
    top: -15px;  /* Extrapola o tamanho do botão */
    left: -15px;
    right: -15px;
    bottom: -15px;
    border-radius: 1.25rem; /* Borda maior que a do botão */
    background: radial-gradient(
        circle at var(--glow-x) var(--glow-y),
        rgba(255, 251, 0, 0.7) 0%,
        transparent 70%
    );
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    transition: opacity 0.4s, transform 0.4s;
}

.new-player:hover::after, .reset-score:hover::after {
    opacity: 1;
    transform: scale(1.05);
}

.new-player:hover, .reset-score:hover {
    box-shadow: 0 0 15px 5px rgba(212, 209, 0, 0.863);
    color: var(--color-primary-btn);
    border-color: var(--color-primary-btn);
    text-shadow: 0px 0px 10px var(--color-primary-btn);
}

.new-player:active, .reset-score:active {
    transform: scale(0.8);
}

.error {
    background-color: var(--color-red) !important;
    color: #eff0e5 !important;
    font-style: italic;
}

@media (prefers-color-scheme: light) {
    :root {
        --color-bg-primary:#fcfcfc;
        --color-font-primary:#191a19;
    }

    .dynamic-input {
        display: block;
        width: 100%;
        padding: 0.5rem 0;
        border: none;
        border-bottom: 2px solid #1f2408;
        background: transparent;
        font-size: 1rem;
        color: var(--color-font-primary);
        outline: none;
        transition: all 0.3s ease;
        height: 30px;
        overflow: hidden;
    }

    .dynamic-input:focus,
    .dynamic-input:not(:placeholder-shown) {
        height: 60px;
        padding: 1rem;
        border: 2px solid #1f2408;
        border-radius: 0.75rem;
        background-color: rgba(196, 197, 117, 0.3);
    }

/* Efeito hover */
    .dynamic-input:hover {
        height: 60px;
        padding: 1rem;
        border: 2px solid #1f2408;
        border-radius: 0.75rem;
        background-color: rgba(196, 197, 117, 0.3);
    }

    .cell {
        background: transparent;
        position: relative;
        border: 5px solid transparent;
    }

    .cell::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 5px solid;
        border-image: linear-gradient(45deg, 
            #ff0000, #ff7700, #ffdd00, 
            #00ff00, #0000ff, #ff00ff) 1;
        animation: rgbBorder 7s linear infinite;
        z-index: -1;
    }

    .player-one, 
    .player-two {
        font-family: var(--font-secondary);
        color: var(--color-title);
        text-shadow: 0 4px 5px  #333203;
        text-align: center;
        font-size: 1.5rem;
        width: 12.5rem;
        height: 3.3rem;
        background: linear-gradient(to bottom, rgb(34, 32, 2), #e0cb11 100%);
        box-shadow: 0 2px 12px #1d1f01b6;
        border: 2px solid #d4d104;
        border-bottom: 0;
        border-radius: 2rem 2rem 0 0;
    }

    .score-player-one,
    .score-player-two {
        font-family: var(--font-number);
        color: var(--color-primary-btn);
        text-align: center;
        background: radial-gradient(circle at center, #0b630eb6 0%, #010c01b6 100%);
        box-shadow: 0 2px 12px #1d1f01b6;
        width: 12.5rem;
        height: 6.5rem;
        font-size: 2rem;
        border: 2px solid #053807b6;
        border-top: 0;
        border-radius: 0 0 2rem 2rem;
        display: block;
    }

    .versus {
        filter: drop-shadow(0 10px 15px rgba(112, 110, 7, 0.911)); 
    }
}

@media (min-width: 590px) {
    .players{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    .names {
        display: flex;
    }

    .config-players {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .game-grid {
        width: 32rem;
        height: 32rem;
    }
}

@media (min-width: 768px) {
    h1 {
        font-family: var(--font-secondary);
        font-weight: 800;
        font-size: clamp(2rem, 2.25rem, 2.75rem);
        font-optical-sizing: auto;
        background: var(--color-title);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        margin: 0;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3),
        0 2px 3px rgba(255, 165, 0, 0.4), 
        0 0 8px rgba(97, 84, 8, 0.6), 
        0 0 15px rgba(65, 35, 0, 0.4);
        position: relative;
        z-index: 2;
        filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.9));
        -webkit-text-fill-color: transparent;
        paint-order: stroke fill;
    }

    .scoreboard-main {
        display: flex;
        justify-content: center;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .scoreboard-main span {
        display: flex;
        justify-items: center;
        height: fit-content;
        align-self: center;
    }

    .versus {
        max-width: 10rem;
        height: auto;
    }

    .config-players {
        justify-content: space-around;
    }
}